@import "~bootstrap/scss/bootstrap";

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  border: .5px solid gray;
  padding: 25px;
  border-radius: 7px;
  width: 500px;
  margin: 15vh 0;
}

.answerBtn:hover, .answerBtn:focus {
  background-color: rgb(240,240,240);
}

.answerBtn.correct {
  background-color: rgb(100,255,100);
}

.answerBtn.false {
  background-color: rgb(255,100,100);
}

@media only screen and (max-width: 500px) {
  .main {
    margin: 10vh 0;
    width: 100%;
    border: unset;
  }
}